﻿@inherits System.Web.Mvc.WebViewPage<WebMatters.UmbracoAddOns.MusicCatalogSurfaceControllers.Models.ArtistListViewModel>
              
@foreach (var artist in Model.Artists) {      
    <li>@artist.Attributes["Name"].DynamicValue</li>
}